body {
    background: pink;
    color: maroon;
    font-family: cursive;
    font-size: 20px;
    background-image: url('../imgs/heart-background.png');
    text-align: center;
}

section {
    background-color: lightcoral;
    margin: auto 10%;
    padding: 30px;
    border-color: maroon;
    border-style: dotted;
    border-width: 5px;
    border-radius: 10px;
}
h1 {
    font-size: 48px;
}
form {
    background-color: firebrick;
    color: beige;
}

em {
    font-family: sans-serif;
    font-style: normal;
    font-size: 80px;
    color: red;
}

.css {
    color: beige;
}

.html {
    color: pink;
}

button {
    font-style: sans-serif;
    font-weight: 600;
    color: maroon;
    background-color: beige;
    border-width: 0;
    border-radius: 2px;
    padding: 5px;
}
